extends layouts/main.pug

block content
    .centered
        h1 Выберите действие
        a(href="/addcar") Добавить автомобиль
        br
        a(href="/getcarprice") Узнать цену автомобиля
        br
        a(href="/addwarehouse") Добавить склад
        br
        a(href="/getwarehousecars") Получить информацию о машинах склада