extends ../layouts/main.pug

block content
    .centered
        h1 Введите данные пользователя
        .data-input
            p Введите электронную почту
            input(name="email", type="email", placeholder="Электронная почта")
            button(type="button") Найти пользователя
    script(src="/js/exercise_02.js")