extends ../layouts/main.pug

block content
    .centered
        h1 Введите индекс
        form(action="/exercise_02/task", method="post")
            input(name="index", type="number", placeholder="Индекс")
            button(type="submit") Вывести элемент под индексом