extends ../layouts/main.pug

block content
    .centered
        h1 Введите данные
        form(action="/exercise_03/task", method="post")
            label(for="fields") Введите названия полей через запятую
            input(name="fields", type="text", placeholder="Поля")
            label(for="route") Введите адрес запроса
            input(name="route", type="text", placeholder="Адрес")
            button(type="submit") Сгенерировать форму