extends ../layouts/main.pug

block content
    .centered
        h1 Введите три числа
        form(action="/exercise_04/task", method="post")
            label(for="a") Введите A
            input(name="a", type="number", placeholder="A")
            label(for="b") Введите B
            input(name="b", type="number", placeholder="B")
            label(for="c") Введите C
            input(name="c", type="number", placeholder="C")
            button(type="submit") Найти делимые нацело на C числа в промежутке от A до B